[submodule "NLP-TAB"]
	path = NLP-TAB
	url = https://github.com/NLPIE/NLP-TAB.git
[submodule "NLP-TAB-corpus"]
	path = NLP-TAB-corpus
	url = https://github.com/NLPIE/NLP-TAB-corpus.git
[submodule "NLP-TAB-webapp"]
	path = NLP-TAB-webapp
	url = https://github.com/NLPIE/NLP-TAB-webapp.git
